################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Example1/bin
/Example1/obj/Debug
/packages
